{% extends 'main/base.html' %} 
{% block content %} 
<div class="col-12">
   <form method="POST" enctype="multipart/form-data">
      <div class="col-6">
         <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                  Продукт
               </h2>
            </div>
            <div class="card-header">
               {% csrf_token %}
               <style>
                  .errors {
                     color: red; 
                     font-weight: bold; 
                  }
               </style>
               {% if form.errors %}
               <div class="errors">
                  <ul>
                     {% for field_name, errors in form.errors.items %}
                        {% for error in errors %}
                              <li>{{ error }}</li>
                        {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               {% endif %}
               <div class="card-body">
                  <label class="control-label" for="inputSuccess1">Название</label>
                  <input type="name" name="name" class="form-control" id="inputSuccess1" value='{{ object.name }}'>

                  <label class="control-label" for="inputError1">Описание</label>
                  <input type="message" name="description" class="form-control" id="inputError1" value='{{ object.description }}'>
                  <br>
                  <label class="control-label mb-2" for="inputSuccess1">Превью:</label>
                  <input type="file" name="preview" id="fileInput" accept="image/*" value='{{ object.preview }}'>
                     <br>
                  <label class="control-label" for="inputWarning1">Категория</label>
                  <input type="name" name="category" class="form-control" id="inputWarning1" value='{{ object.category }}'>
                     <br>
                  <label class="control-label" for="inputError1">Цена за покупку</label>
                  <input type="number" name="purchase_price" value='{{ object.purchase_price }}'>
                     <br>
                  <label class="control-label " for="inputError1">Дата создания</label>
                  <input type="time" name="date_of_creation" value='{{ object.date_of_creation }}'> 
                  <br>
                  <label class="control-label" for="inputError1">Дата последнего изменения</label>
                  <input type="time" name="last_modified_date" value='{{ object.last_modified_date }}'>
                     <br>
                  <input type="submit" class="btn btn-primary" id="inputError1">
               </div>  
            </div>   
         </div>      
      </div>
      <div style="position: absolute; top: 0; right: 0;">
         <div class="card">
            <div class="card-header">
               <h2 class="card-title">
                  Версии продукта
               </h2>
            </div>
            <div class="card-body">
               {{ formset.management_form }}
               {% for form in formset.forms %}
                  {{ form.as_p }}
                  <hr>
               {% endfor %}
            </div>
         </div>
      </div>
   </form>
</div>


{% endblock %} 