{% extends 'main/base.html' %} 
{% block content %} 
<form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="form-group has-success">
     <label class="control-label" for="inputSuccess1">Название</label>
     <input type="name" name="name" class="form-control" id="inputSuccess1">
   </div>
   <div class="form-group has-error">
     <label class="control-label" for="inputError1">Описание</label>
     <input type="message" name="description" class="form-control" id="inputError1">
   </div>
   <div class="form-group has-success">
      <label class="control-label" for="inputSuccess1">Превью:</label>
      <input type="file" name="preview" id="fileInput" accept="image/*">
   </div>
   <div class="form-group has-warning">
      <label class="control-label" for="inputWarning1">Категория</label>
      <input type="name" name="category" class="form-control" id="inputWarning1">
   </div>
   <div class="form-group has-error">
      <label class="control-label" for="inputError1">Цена за покупку</label>
      <input type="number" name="purchase_price">
   </div>
   <div class="form-group has-error">
      <label class="control-label" for="inputError1">Дата создания</label>
      <input type="time" name="date_of_creation"> 
   </div>
   <div class="form-group has-error">
      <label class="control-label" for="inputError1">Дата последнего изменения</label>
      <input type="time" name="last_modified_date">
   </div>
   <div class="form-group has-error">
      <label class="control-label" for="inputError1"></label>
      <input type="submit" class="btn btn-primary" id="inputError1">
 </form>
{% endblock %} 